$base: #fafafa;
$base-dark: #f0f0f0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #31a8e0;
$primary-dark: #0c5091;
$primary-light: #6ec1e4;
$on-primary: #ffffff;

$secondary: #956096;
$secondary-dark: #4b1f4c;
$secondary-light: #cda0c9;
$on-secondary: #ffffff;

$error: #b00020;
$on-error: #ffffff;

$success: #4caf50;
$on-success: #ffffff;
