<div class="upload">
  {{ file.name }}

  <progress
    class="upload__progress"
    [value]="(percentage$ | async) || 0"
    max="100"
  ></progress>

  <div class="upload__info" *ngIf="snapshot$ | async as snapshot">
    <div>
      {{ snapshot.bytesTransferred | fileSize }} de
      {{ snapshot.totalBytes | fileSize }} bytes
    </div>

    <div>
      <div *ngIf="downloadURL; then completed; else inProgress">
        Archivo subido con éxito: {{ downloadURL }}
      </div>
      <ng-template #completed>
        <a
          [href]="downloadURL"
          target="_blank"
          rel="noopener"
          class="app-a"
        ></a>
      </ng-template>
      <ng-template #inProgress>
        <button
          (click)="task.pause()"
          class="button"
          [disabled]="!(snapshot?.state === 'running')"
        >
          Pausa
        </button>
        <button
          (click)="task.resume()"
          class="button"
          [disabled]="!(snapshot?.state === 'paused')"
        >
          Reanudar
        </button>
        <button
          (click)="task.cancel()"
          class="button"
          [disabled]="
            !(snapshot?.state === 'running' || snapshot?.state === 'paused')
          "
        >
          Cancelar
        </button>
      </ng-template>
    </div>
  </div>
</div>
