<section class="flex-container">
  <div class="row">
    <mat-card>
      <mat-card-title>
        <h1>Bienvenido a Edificaciones Store</h1>
        <p>
          Tu tienda de confianza para productos de construcción y remodelación.
        </p>
        <p>
          Explora nuestra amplia gama de productos y servicios diseñados para
          ayudarte a construir
        </p></mat-card-title
      >

      <mat-card-subtitle>
        Construye con confianza y calidad.
      </mat-card-subtitle>

      <mat-card-content>
        <p>
          En Edificaciones Store, nos enorgullece ofrecer productos de la más
          alta calidad para satisfacer todas tus necesidades de construcción.
        </p>
        <p>
          Desde materiales de construcción hasta herramientas especializadas,
          tenemos todo lo que necesitas para llevar a cabo tu proyecto con
          éxito.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
